body{
	background:url(https://www.oceanrisksummit.com/Content/images/ocean-poster.png);
}

li{
	border: 2px solid red;
}

#third_li{
	background: yellow;
}

.completed{
	text-decoration: line-through;
}